:root {
--primary-text-color: #212121;
--secondary-text-color: #757575;
--accent-color: #2196F3;
--primary-white-color: #ffffff;
--secondary-bg-color: #F5F4FA;
--footer-bg-color: #2F303A;
}

/* primary text color: #757575; */
/* secondary color: #212121; */
/* accent color: #2196F3; */
/* rare color: #ffffff; */
/* ftr-text color: rgba(255, 255, 255, 0.6); */
/* last row color: rgba(255, 255, 255, 0.4); */
/* company signs background: #AFB1B8; */
/* social signs background: rgba(255, 255, 255, 0.1); */
/* btn background: #F5F4FA; */
/* ftr background: #2F303A; */
.page {
    background-color: var(--primary-white-color);
}
a {
    text-decoration: none;
    color: var(--primary-text-color);
    }

ul{
    list-style: none;
}
/* logo  */
.logo {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}
.logo .logo-design {
    color: var(--accent-color);
}

/* Site nav */
.site-nav .link{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}
/* contacts nav */
.contacts-nav .link{    
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
    color: var(--accent-color);
}

/* hero section */
.hero-title {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primary-white-color);
background-color: black;
}
/* button */
.button.primary {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;
color: var(--primary-white-color);
background-color: var(--accent-color);
}
.button.secondary {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.03em;
color: var(--primary-text-color);
background: #F5F4FA;
}
/* features section */

.features-title {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}

.features-text {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

/* work section*/
.section-title {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.work-type {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-white-color);
background: rgba(47, 48, 58, 0.8);
}

/* team section */
.team-members-name {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.team-members-position {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}
/* clients section */



/* footer logo*/
.page-footer {
    background: #2F303A;
}
.footer-logo {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 26px;
letter-spacing: 0.03em;
color: var(--primary-white-color);
}
.footer-logo .logo-design {
    color: var(--accent-color);
}
/* address */

.address a {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.address .address-location {
color: var(--primary-white-color);
}

/* subscription */
.footer-title {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-white-color);
}
.site-developers {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.4);
}

/* Portfolio page */
.portfolio-sample {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}
.portfolio-info {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}